/* Colores usados */
:root
{
    /* Color de fondo principal */
    --bgColor:#FBFCFF;

    /* Colores del Header */
    --upMenu: #0154BE;
    --downMenu: #F5F7F8;
    --sombraMenu: #C3CFFC;
    --seleccionMenu: #F3478B;

    /* Colores de fuente */
    --fuente: #FFFFFF;
    --fuenteNormal:#828282;
    --fuenteImportante:#333333;
    --fuenteRotativa:#2D85F5;
    --fuenteRespuesta: #707070;
    --fuenteFooterTxt: #E8E8E8;

    /* Color resaltante */
    --resaltante:#EB196C;

    /* Sombras de elementos */
    --sombras: #CED7FF;

    /* Carrusel servicios */
    --arrowContenedor: #F5F7F8;
    --arrowSombra: rgba(1,84,190, .2);
    --arrowAzul: #0C1A49;
    --arrowIndicador:#AEC2CC;

    /* Footer */
    --bgFooter: #0F1733;
    --lineFooter: #1E2E66;

    /* RS Nosotros */
    --azulNosotros: #0154BE;
    --sombraAzulNostros: rgba(1,84,190, .32);

}

/* Reseteo de estilos */
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Asignamos el color de fondo */
body
{
    background-color: var(--bgColor);
}

/* Scroll personalizado (Disponible solo en PC's) */
@media screen and (-webkit-max-device-pixel-ratio: 1),
       screen and (-o-max-device-pixel-ratio: 1/1),
       screen and (max-resolution: 1dppx)
{
    /* Tamaños del scroll */
    *::-webkit-scrollbar
    {
        width: 12px;
        height: 12px;
        display: none;
    }
    /* Scroll visible generalmente */
    body::-webkit-scrollbar
    {
        display: block;
    }

    /* mostrar el scroll al hacer hover */
    *:hover::-webkit-scrollbar
    {
        display: block;
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
    *::-webkit-scrollbar-thumb
    {
        background: #bdc7e0;
        border-radius: 6px;
    }

    /* Cambiamos el fondo cuando esté en active */
    *::-webkit-scrollbar-thumb:active
    {
        background-color: #919ec0;
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del track */
    *::-webkit-scrollbar-track
    {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 2px;
    }
}

/* Clase que centra el contenido en la página */
.centro
{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Ajuste para que los contenedores de las img abarquen todo el espacio */
figure,
picture
{
    width: 100%;
}
/* Ajuste para quitar el margen que queda abajo en las img */
figure img,
picture img
{
    vertical-align: top;
}

/*
    * Estilo necesario para que la sombra del header se vea
    * Estilo usado para posicionar la animacion del "pulse"
    * Estilo necesario para posicionar el separador y no usar un HR
*/
.header,
.serviciosContenido-carrusel-arrowForwards,
.examanesTextos .titulo
{
    position: relative;
}

/* Estilos que tiene la barra superior (Azul) del header */
.headerUp
{
    background-color: var(--upMenu);
    height: 35px;
    display: flex;
    justify-content: space-between;
}

/* Estilos necesarios para que los elementos se centren con el contenedor */
.headerUp .centro,
.headerDown .centro
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
    * Estilos básicos de la parte superior, inferior del header y de los datos del header superior y la caja de las RS del up
    * para centrar los elementos dentro de la secciion de servicios
    * Estilos generales para los contenedores usados en el carrusel
    * Estilos generales de los contenedores usados en los elementos de indicadores
*/
.headerUp_left,
.headerUp_Right,
.headerUp_Right_Caja,
.servicios .centro,
.serviciosContenido-carrusel,
.serviciosContenido-carrusel-container,
.serviciosContenido-carrusel-indicador,
.contenedorIndicadores
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Margen entre el primer elemento del header superior */
.headerUp_dato:nth-child(1)
{
    margin-right: 50px;
}

/* Estilos para el icono de los datos del header superior */
.headerUp_ico
{
    height: 15px;
    width: auto;
    margin-right: 10px;
    opacity: .4;
}

/* Estilos para el texto de los datos del header superior */
.headerUp_txt
{
    font-weight: 500;
    font-size: 11px;
    color: var(--fuente);
    text-decoration: none;
}

/* Estilos para los enlaces de las RS en el Up */
.headerUp_RS
{
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Correccion del margen en el ultimo elemento de las RS en el Up */
.headerUp_RS:last-child
{
    margin-right: 0;
}

/* Tamaño de las imagenes de las RS en el Up */
.headerUp_RS_Img
{
    height: 20px;
    width: auto;
    opacity: .4;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Efecto al hacer hover en las RS del Up */
.headerUp_RS_Img:hover
{
    opacity: 1;
}

/* Estilos generales de la parte inferior (Blanca) del header */
.headerDown
{
    height: 70px;
    background-color: var(--downMenu);
    box-shadow: 0px 10px 23px -15px var(--sombraMenu);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del logo */
.logo
{
    height: 45px;
    width: auto;
}

/* Estilos de imagenes verticales */
.logo img,
.beneficiosIcono img,
.serviciosIcono img,
.examanesCard-Picture img
{
    height: 100%;
    width: auto;
}

/* Ajuste necesario para colocar el border del selected */
.headerDown .centro
{
    height: inherit;
}

/* Ajuste necesario para colocar el border del selected */
.menu
{
    height: inherit;
}

/* Estilos para que los elementos del menu se coloque uno al lado del otro y tenga la misma altura para el selected */
.menu ul
{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    height: inherit;
}

/* Estilos necesarios para el selected y el espaciado entre elementos */
.menu ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-right: 15px;
}

/* Estilos necesarios para la clase por defecto de los textos del menu */
.menu ul li a
{
    font-weight: 400;
    font-size: 14px;
    color: var(--fuenteNormal);
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilos que se aplican al hacer hover sobre un elemento del menu */
.menu ul li a:hover
{
    color: var(--seleccionMenu);
}

/* Estilo que se aplica segun la pagina que este visualizando */
.menu ul li a.selected
{
    color: var(--seleccionMenu);
    border-bottom: 2px solid;
    font-weight: 500;
}

/* Estilos necesarios para el hero (Imagen de fondo y degradado generado por css)
tamaño de fuente declarado para usar EMs para responsive*/
.hero
{
    height: calc(100vh - 105px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg, var(--bgColor) 15%, rgba(251,252,255,0) 70%),
                linear-gradient(0deg, var(--bgColor) 0%, rgba(251,252,255,0) 30%),
                url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 18px;
}

/* Contendedor del hero */
.hero .centro
{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Estilos necesarios del epigrafe */
.epigrafe
{
    font-weight: 600;
    text-transform: uppercase;
    font-size: .625em;
    color: var(--resaltante);
    letter-spacing: .125em;
}

/* Estilo necesario para los titulos */
.titulo
{
    font-size: 2em;
    font-weight: 600;
    color: var(--fuenteImportante);
}

/* Estilo de los parrafos */
.parrafo
{
    font-weight: 400;
    color: var(--fuenteNormal);
    font-size: .75em;
    margin-bottom: 2.91em;
}

/* Tamaño que abarca el parrafo en el hero */
.hero .parrafo
{
    width: 50%;
}

/* Estilos generales del CTA del hero */
.btn-cta
{
    font-weight: 500;
    font-size: .75em;
    padding: 1em 2em;
    background-color: var(--resaltante);
    box-shadow: 0px 10px 23px -15px var(--resaltante);
    color: var(--fuente);
    border-radius: 5px;
    text-decoration: none;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Hover del CTA del hero */
.btn-cta:hover
{
    transform: scale(1.05);
    box-shadow: 0px 10px 23px -10px var(--resaltante);
}

/* Estilo necesario para parecerse al H1 */
h2.titulo
{
    margin-bottom: .625em;
}

/* Estilo de la lista que contiene los elementos que rotan */
.tituloLista
{
    overflow: hidden;
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: .2em;
    margin-bottom: -.3em;
    height: 1.125em;
    list-style: none;
    line-height: 1em;
}

/* Estilo del texto que irá rotando */
.rotate
{
    color: var(--fuenteRotativa);
    font-weight: 700;
    margin: 1em 0;
}

/* Estilos necesarios para que el primer elemento se vea en pantalla */
.rotate:first-child
{
    margin-top: 0;
    animation-name: moverTexto;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

/* Estilos necesarios para las secciones intermedias */
.intermedio
{
    font-size: 16px;
    height: 13.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

/* Estilos generales de las cards */
.beneficios
{
    height: 6.875em;
    width: 23.6875em;
    padding: 1.5625em 1.6875em;
    background: var(--fuente);
    margin-right: 1.875em;
    display: flex;
    border-radius: 6px;
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px -18px 24px -30px var(--sombras);
}

/* Estilos para quitar margen a los ultimas cards */
.beneficios:last-child,
.serviciosCard:last-child,
.circulo:last-child
{
    margin-right: 0;
}

/* Estilos del contenedor de la imagen */
.beneficiosIcono
{
    width: 30%;
    margin-right: .625em;
}

/* Pequeña correcion a los margenes de los parrafos de los beneficios */
.beneficios .parrafo
{
    margin: 0;
}

/* Estilos de los titulos de las cards */
.titulosCard
{
    font-size: .875em;
    font-weight: 600;
    color: var(--resaltante);
}

/*
    * Estilos generales de la seccion de servicios
    * Estilos generales de la seccion de Examanes
*/
.examenes,
.servicios
{
    font-size: 16px;
    height: 100vh;
}

/* Estilos generales para que el texto este centrado con el primer elemento del carrusel (60px) */
.servicios .alineado
{
    margin-left: 3.75em;
}
/* Estilos generales para el contenedor de la imagen referencial de servicios y el degradado */
.serviciosImagen
{
    width: 40%;
    /* border: 1px solid red; */
    height: 100vh;
    background: linear-gradient(90deg, rgba(251,252,255,0) 60%, var(--bgColor) 100%);
    position: relative;
}

/* Estilo para la imagen referencial de servicios */
.serviciosImagen img
{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Estilos generales para el contendor del contendio (valga la redundancia) en servicios */
.serviciosContenido
{
    width: 60%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Estilos de las cards del carrusel */
.serviciosCard
{
    width: 11.25em;
    height: 13.75em;
    margin-right: 1.875em;
    padding: 1.5625em 1.09em;
    border-radius: 6px;
    background: var(--fuente);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px 0px 23px -9px var(--sombras);
}

/* Estilo para el contenedor de las imagenes de las cards */
.serviciosIcono
{
    height: 3.125em;
    width: 3.125em;
    margin-bottom: 1.25em;
}

/* Estilo necesario para corregir el margen que tienen los parrafos en las cards */
.serviciosTexto .parrafo
{
    margin: 0;
}

/* Estilo que le da un margen para separar al carusel de los indicadores */
.serviciosContenido-carrusel
{
    margin-bottom: 2.75em;
}

/* Estilos generales de las flechas de adelante y atras */
.serviciosContenido-carrusel-arrowBack,
.serviciosContenido-carrusel-arrowForwards
{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: var(--arrowContenedor);
    box-shadow: 0px 3px 10px -2px var(--sombraAzulNostros);
    cursor: pointer;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    color: var(--arrowAzul);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Elemento que hace la animacion de pulse de la flecha de adelante */
.pulse
{
    animation: pulseArrow 3s infinite;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    border: 1px solid rgba(143, 165, 247, 0.6);
    position: absolute;
    z-index: -1;
}

/* estilo que le da margen derecho a la flecha de atras */
.serviciosContenido-carrusel-arrowBack
{
    margin-right: .9375em;
}

/* Estilo que le da margen izquierdo a la flecha de adelante */
.serviciosContenido-carrusel-arrowForwards
{
    margin-left: .9375em;
}

/* Estilo general que se aplica cuando alguna de las flechas queda "deshabilitada" */
.serviciosContenido-carrusel-arrowBack.disable,
.serviciosContenido-carrusel-arrowForwards.disable
{
    transform: scale(.75);
    opacity: .8;
}


/* Estilo de la "linea" que atraviesan los indicadores */
.linea
{
    height: 2px;
    width: 60px;
    background: var(--arrowIndicador);
    position: relative;
}

/* Estilo del contendor de los indicadores usados para centrarlos en la linea */
.contenedorIndicadores
{
    position: absolute;
    top: -6px;
    left: -10px;
}

/* Estilo general de los indicadores */
.circulo
{
    height: 10px;
    width: 10px;
    background: var(--arrowIndicador);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo aplicado al inidcador activo */
.circulo.active
{
    height: 15px;
    width: 15px;
    background: var(--arrowAzul);
}

/* Estilo para quitarle el margen al primer indicador */
.circulo:first-child
{
    margin-left: 0;
}

/*
    * Estilos generales para el contenedor que centra el contenido en la seccion de examenes
    * Estilos generales para el contenedor de los textos en las cards de las categorias de examenes
*/
.examenes .centro,
.examanesCard-Textos,
.examanesTextos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para los margenes de los titulos encontrados en la seccion de Examenes */
.examanesTextos
{
    margin: 3.75em 0 2.8125em;
}

/* Estilo necesario para CREAR el separador en lugar de usar un HR */
.examanesTextos .titulo::after
{
    font-size: 16px;
    display: inline-block;
    content: "";
    height: .1875em;
    width: 1.875em;
    background: var(--resaltante);
    position: absolute;
    bottom: -1.25em;
    /* Al tamaño total le resto el ancho de mi elemento y lo divido entre 2 */
    left: calc((100% - 1.875em) / 2);
}

/* Estilos necesarios para crear la grilla de las categorias de examenes */
.examenesContenedor
{
    height: 33.125em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.875em;
}

/* Estilos para que la grilla sea un enlace y no tenga decorados */
.examenesCard-Link
{
    text-decoration: none;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo para que los elementos al hacer hover crezcan */
.examenesCard-Link:hover
{
    transform: scale(1.05);
    box-shadow: 0px 10px 23px -10px var(--sombras)
}

/* Estilos generales de las cards de Examanes */
.examanesCard
{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 6px;
    padding: 2.18125em 2.778125em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--fuente);
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px 0px 23px -9px var(--sombras);
}

/*  Estilos generales del contenedor de las imagenes de las cards de examenes*/
.examanesCard-Picture
{
    height: 3.75em;
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

/* Margen que le doy al titulo de las cards de examanes*/
.examanesCard-Textos .titulosCard
{
    margin-bottom: 1.875em;
}

/* Se le quita el margen a los textos de las cards de examanes */
.examanesCard-Textos .parrafo
{
    margin: 0;
}

/* Animacion del texto que rota en el Hero */
@keyframes moverTexto
{
    0%
    {
        margin-top: 0;
    }
    12.5%
    {
        margin-top: -2em;
    }
    25%
    {
        margin-top: -2em;
    }
    37.5%
    {
        margin-top: -4em;
    }
    50%
    {
        margin-top: -4em;
    }
    62.5%
    {
        margin-top: -6em;
    }
    75%
    {
        margin-top: -6em;
    }
    87.5%
    {
        margin-top: 0;
    }
}
/* Animacion correspondiente al pulse de los servicios */
@keyframes pulseArrow
{
    0%
    {
        opacity: 1;
        transform: scale(0);
	}
    100%
    {
        opacity: 0;
        transform: scale(1.8);
	}
}
