/* Colores usados */
:root
{
    /* Color de fondo principal */
    /* bgColor to RGBA => rgba(251, 252, 255, 1) (Usado asi en los degradados OJO)*/
    --bgColor:#FBFCFF;

    /* Colores del Header */
    --upMenu: #0154BE;
    --downMenu: #F5F7F8;
    --sombraMenu: #C3CFFC;
    --seleccionMenu: #F3478B;

    /* Colores de fuente */
    --fuente: #FFFFFF;
    --fuenteNormal:#828282;
    --fuenteImportante:#333333;
    --fuenteRotativa:#2D85F5;
    --fuenteRespuesta: #707070;
    --fuenteFooterTxt: #E8E8E8;

    /* Color resaltante */
    --resaltante:#EB196C;

    /* Sombras de elementos */
    --sombras: #CED7FF;

    /* Carrusel servicios */
    --arrowContenedor: #F5F7F8;
    --arrowSombra: rgba(1,84,190, .2);
    --arrowAzul: #0C1A49;
    --arrowIndicador:#AEC2CC;

    /* Sombra del widget del telefono */
    --sombraTelefono: #F8BEDB;

    /* Footer */
    --bgFooter: #0F1733;
    --lineFooter: #1E2E66;

    /* RS Nosotros */
    --azulNosotros: #0154BE;
    --sombraAzulNostros: rgba(1,84,190, .32);

    /* Fondo del modal */
    --bgModal: #F2F4FD;
}

@font-face
{
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?m0zqbl');
    src: url('../fonts/icomoon.eot?m0zqbl#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.ttf?m0zqbl') format('truetype'),
         url('../fonts/icomoon.woff?m0zqbl') format('woff'),
         url('../fonts/icomoon.svg?m0zqbl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    /* Propiedad para google page speed */
    font-display: swap;
}

[class^="icon-"],
[class*=" icon-"]
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-copyright::before
{
    content: "\e900";
}
.icon-heart::before
{
    content: "\e9da";
    animation: 1s latido infinite;
    display: inline-block;
}
.icon-arrow-right::before
{
    content: "\ea3c";
}
.icon-arrow-left::before
{
    content: "\ea40";
}


/* Reseteo de estilos */
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Asignamos el color de fondo */
body
{
    background-color: var(--bgColor);
}

/* Scroll personalizado (Disponible solo en PC's) */
@media screen and (-webkit-max-device-pixel-ratio: 1),
       screen and (-o-max-device-pixel-ratio: 1/1),
       screen and (max-resolution: 1dppx)
{
    /* Tamaños del scroll */
    *::-webkit-scrollbar
    {
        width: 12px;
        height: 12px;
        display: none;
    }
    /* Scroll visible generalmente */
    body::-webkit-scrollbar
    {
        display: block;
    }

    /* mostrar el scroll al hacer hover */
    *:hover::-webkit-scrollbar
    {
        display: block;
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
    *::-webkit-scrollbar-thumb
    {
        background: #bdc7e0;
        border-radius: 6px;
    }

    /* Cambiamos el fondo cuando esté en active */
    *::-webkit-scrollbar-thumb:active
    {
        background-color: #919ec0;
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del track */
    *::-webkit-scrollbar-track
    {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 2px;
    }
}

/* Clase que centra el contenido en la página */
.centro
{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Ajuste para que los contenedores de las img abarquen todo el espacio */
/*MENOS*/figure,
picture
{
    width: 100%;
}
/* Ajuste para quitar el margen que queda abajo en las img */
/*MENOS*/figure img,
picture img
{
    vertical-align: top;
}

/*
    * Estilo necesario para que la sombra del header se vea
    * Estilo usado para posicionar la animacion del "pulse"
    * Estilo necesario para posicionar el separador y no usar un HR
*/
.header,
.serviciosContenido-carrusel-arrowForwards,
.examanesTextos .titulo,
.especialistas .titulo
{
    position: relative;
}

/* Estilos que tiene la barra superior (Azul) del header */
.headerUp
{
    background-color: var(--upMenu);
    height: 35px;
    display: flex;
    justify-content: space-between;
}

/* Estilos necesarios para que los elementos se centren con el contenedor */
.headerUp .centro,
.headerDown .centro
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
    * Estilos básicos de la parte superior e inferior del header y de los datos del header superior y la caja de las RS del up
    * para centrar los elementos dentro de la secciion de servicios
    * Estilos generales para los contenedores usados en el carrusel
    * Estilos generales de los contenedores usados en los elementos de indicadores
    * Estilos generales del contenedor principal de la seccion de FAQs
    * Estilos generales del contenedor del widget del telefono
*/
.headerUp_left,
.headerUp_Right,
.headerUp_dato,
.headerUp_Right_Caja,
.servicios .centro,
.serviciosContenido-carrusel,
.contenedorIndicadores,
.faqs .centro,
.telefonoMid-Container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Margen entre el primer elemento del header superior */
.headerUp_dato:nth-child(1)
{
    margin-right: 50px;
}

/* Estilos para el icono de los datos del header superior */
.headerUp_ico
{
    height: 15px;
    width: auto;
    margin-right: 10px;
    opacity: .4;
}

/* Estilos para el texto de los datos del header superior */
.headerUp_txt
{
    font-weight: 500;
    font-size: 11px;
    color: var(--fuente);
    text-decoration: none;
}

/* Estilos para los enlaces de las RS en el Up */
.headerUp_RS
{
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Correccion del margen en el ultimo elemento de las RS en el Up */
.headerUp_RS:last-child
{
    margin-right: 0;
}

/* Tamaño de las imagenes de las RS en el Up */
.headerUp_RS_Img
{
    height: 20px;
    width: auto;
    opacity: .4;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Efecto al hacer hover en las RS del Up */
.headerUp_RS_Img:hover
{
    opacity: 1;
}

/* Estilos generales de la parte inferior (Blanca) del header */
.headerDown
{
    height: 70px;
    background-color: var(--downMenu);
    box-shadow: 0px 10px 23px -15px var(--sombraMenu);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del logo */
.logo
{
    height: 45px;
    width: auto;
}

/* Estilos de imagenes verticales */
.logo img,
.beneficiosIcono img,
.serviciosIcono img,
.examanesCard-Picture img,
.contactoCard-ico img,
.logoFooter img,
.imagenGrid-1 img,
.imagenGrid-2 img,
.imagenGrid-3 img,
.imagenGrid-4 img,
.imagenGrid-5 img,
.imagenGrid-6 img,
.imagenGrid-7 img,
.especialistaImgContenedor img
{
    height: 100%;
    width: auto;
}

/*
    * Ajuste necesario para colocar el border del selected

*/
.headerDown .centro,
.menu
{
    height: inherit;
}

/* Estilos para que los elementos del menu se coloque uno al lado del otro y tenga la misma altura para el selected */
.menu ul
{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    height: inherit;
}

/* Estilos necesarios para el selected y el espaciado entre elementos */
.menu ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-right: 15px;
}

/* Estilos necesarios para la clase por defecto de los textos del menu */
.menu ul li a
{
    font-weight: 400;
    font-size: 14px;
    color: var(--fuenteNormal);
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilos que se aplican al hacer hover sobre un elemento del menu */
.menu ul li a:hover
{
    color: var(--seleccionMenu);
}

/* Estilo que se aplica segun la pagina que este visualizando */
.menu ul li a.selected
{
    color: var(--seleccionMenu);
    border-bottom: 2px solid;
    font-weight: 500;
}

/* Estilos necesarios para el hero (Imagen de fondo y degradado generado por css)
tamaño de fuente declarado para usar EMs para responsive*/
.hero
{
    height: calc(100vh - 105px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg, rgba(251, 252, 255, 1) 15%, rgba(251,252,255,0) 70%),
                linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 30%),
                url("../img/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 18px;
}

/* Contendedor del hero */
.hero .centro
{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Estilos necesarios del epigrafe */
.epigrafe
{
    font-weight: 600;
    text-transform: uppercase;
    font-size: .625em;
    color: var(--resaltante);
    letter-spacing: .125em;
}

/* Estilo necesario para los titulos */
.titulo
{
    font-size: 2em;
    font-weight: 600;
    color: var(--fuenteImportante);
}

/* Estilo de los parrafos */
.parrafo
{
    font-weight: 400;
    color: var(--fuenteNormal);
    font-size: .75em;
    margin-bottom: 2.91em;
}

/* Tamaño que abarca el parrafo en el hero */
.hero .parrafo
{
    width: 50%;
}

/* Estilos generales del CTA del hero */
.btn-cta
{
    font-weight: 500;
    font-size: .75em;
    padding: 1em 2em;
    background-color: var(--resaltante);
    box-shadow: 0px 10px 23px -15px var(--resaltante);
    color: var(--fuente);
    border-radius: 5px;
    text-decoration: none;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Hover del CTA del hero */
.btn-cta:hover
{
    transform: scale(1.05);
    box-shadow: 0px 10px 23px -10px var(--resaltante);
}

/* Estilo necesario para parecerse al H1 */
h2.titulo
{
    margin-bottom: .625em;
}

/* Estilo de la lista que contiene los elementos que rotan */
.tituloLista
{
    overflow: hidden;
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: .2em;
    margin-bottom: -.3em;
    height: 1.125em;
    line-height: 1em;
}

/* Estilo del texto que irá rotando */
.rotate
{
    color: var(--fuenteRotativa);
    font-weight: 700;
    margin: 1em 0;
    display: block;
}

/* Estilos necesarios para que el primer elemento se vea en pantalla */
.rotate:first-child
{
    margin-top: 0;
    animation-name: moverTexto;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

/* Estilos necesarios para las secciones intermedias */
.intermedio
{
    font-size: 16px;
    height: 13.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.tituloHidden
{
    display: none;
}

/* Estilos generales de las cards */
.beneficios
{
    height: 6.875em;
    width: 23.6875em;
    padding: 1.5625em 1.6875em;
    background: var(--fuente);
    margin-right: 1.875em;
    display: flex;
    border-radius: 6px;
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px -18px 24px -30px var(--sombras);
}

/* Estilos para quitar margen a los ultimas cards */
.beneficios:last-child,
.serviciosCard:last-child,
.circulo:last-child,
.faqsFiltros-btn:last-child,
.footerRS:last-child,
.especialista:last-child
{
    margin-right: 0;
}

/* Estilos del contenedor de la imagen */
.beneficiosIcono
{
    width: 30%;
    margin-right: .625em;
}

/*
    * Pequeña correcion a los margenes de los parrafos de los beneficios
    * Estilo necesario para corregir el margen que tienen los parrafos en las cards
    * Pequeña correcion a los margenes de los parrafos de los examenes especificos
    * Pequeño detalle para quitar margenes al ultimo elemento
*/
.beneficios .parrafo,
.serviciosTexto .parrafo,
.examenEspecifico .parrafo,
.contenedorDia:last-child
{
    margin: 0;
}

/* Estilos de los titulos de las cards */
.titulosCard
{
    font-size: .875em;
    font-weight: 600;
    color: var(--resaltante);
}

/*
    * Estilos generales de la seccion de servicios
    * Estilos generales de la seccion de Examanes
    * Estilos generales de la seccion de FAQs
*/
.examenes,
.servicios,
.faqs
{
    font-size: 16px;
    height: 100vh;
}

/* Estilos generales para que el texto este centrado con el primer elemento del carrusel (60px) */
.servicios .alineado
{
    margin-left: 3.75em;
}

/* Contenedor del carrusel  FM*/
.serviciosContenido-carrusel-container
{
    /* width: 100%; */
    width: 38.875em;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* MIO */
    padding: 0 10px;
    height: 18.5em;
    flex-wrap: nowrap;
}

/* Estilos generales para el contenedor de la imagen referencial de servicios y el degradado */
.serviciosImagen
{
    width: 39%;
    /* border: 1px solid red; */
    height: 100vh;
    background: linear-gradient(90deg, rgba(251,252,255,0) 60%, var(--bgColor) 100%);
    position: relative;
}

/* Estilo para la imagen referencial de servicios */
.serviciosImagen img
{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Estilos generales para el contendor del contendio (valga la redundancia) en servicios */
.serviciosContenido
{
    width: 61%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Estilos de las cards del carrusel */
.serviciosCard
{
    width: 11.25em;
    /* MIO para que no se redimencione */
    flex-shrink: 0;
    /* height: 14.5em; */
    height: 16em;
    margin-left: 1.875em;
    padding: 1.5625em 1.09em;
    border-radius: 6px;
    background: var(--fuente);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px 0px 23px -9px var(--sombras);
}

/* Quito el margen IZQUIERDO del primer elemento */
.serviciosCard:first-child
{
    margin-left: 0;
}

/* DETALLE NECESARIO PARA CORREGIR EL MARGEN DEL CARRUSEL del ultimo elemento */
.serviciosContenido-carrusel-container::after
{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
}

/* Estilo para el contenedor de las imagenes de las cards */
.serviciosIcono
{
    height: 3.125em;
    width: 3.125em;
    margin-bottom: 1.25em;
}

/* Estilo que le da un margen para separar al carusel de los indicadores */
.serviciosContenido-carrusel
{
    margin-bottom: 2.75em;
}

/* Estilos generales de las flechas de adelante y atras */
.serviciosContenido-carrusel-arrowBack,
.serviciosContenido-carrusel-arrowForwards
{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: var(--arrowContenedor);
    box-shadow: 0px 3px 10px -2px var(--sombraAzulNostros);
    cursor: pointer;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    color: var(--arrowAzul);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-shrink: 0;
}

/* Elemento que hace la animacion de pulse de la flecha de adelante */
.pulse
{
    animation: pulseArrow 3s infinite;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    border: 1px solid rgba(143, 165, 247, 0.6);
    position: absolute;
    z-index: -1;
}

/* estilo que le da margen derecho a la flecha de atras */
.serviciosContenido-carrusel-arrowBack
{
    margin-right: .5625em;
}

/* Estilo que le da margen izquierdo a la flecha de adelante */
.serviciosContenido-carrusel-arrowForwards
{
    margin-left: .5625em;
}

/* Estilo general que se aplica cuando alguna de las flechas queda "deshabilitada" */
.serviciosContenido-carrusel-arrowBack.disable,
.serviciosContenido-carrusel-arrowForwards.disable
{
    transform: scale(.75);
    opacity: .8;
}


/* Estilo general del contenedor que hace de linea.
   Se usa para capturar el ancho dinamico de la linea
*/
.serviciosContenido-carrusel-indicador-linea
{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 2px;
    background: var(--arrowIndicador);

}

/* Estilo del contendor de los indicadores usados para centrarlos en la linea */
.contenedorIndicadores
{
    position: relative;
    top: -6px;
    /* left: -10px; */
    justify-content: space-between;
}

/* Estilo general de los indicadores */
.circulo
{
    height: 10px;
    width: 10px;
    background: var(--arrowIndicador);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    flex-shrink: 0;
}

/* Estilo aplicado al inidcador activo */
.circulo.active
{
    height: 15px;
    width: 15px;
    background: var(--arrowAzul);
}

/* Estilo para quitarle el margen al primer indicador */
.circulo:first-child
{
    margin-left: 0;
}

/*
    * Estilos generales para el contenedor que centra el contenido en la seccion de examenes
    * Estilos generales para el contenedor de los textos en las cards de las categorias de examenes
*/
.examenes .centro,
.examanesCard-Textos,
.examanesTextos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos necesarios para la pagina (solitaria) de examanes */
.examenes.pagina
{
    height: auto;
    min-height: 100vh;
    margin: 2.8125em 0 4em;
}

/* Estilos necesarios para el contenedor de los examanes en la pagina (solitaria) de los mismos */
.examenesContenedor.listado
{
    height: auto;
}

/*  Detalle para que la seccion de examenes no este tan pegada a los FAQs */
.examenes
{
    margin: 1em 0 2em;
}

/* Detalle para que el contenedor de la seccion de examenes quede en el centro */
.examenes .centro
{
    height: inherit;
}

/* Estilos para los margenes de los titulos encontrados en la seccion de Examenes */
.examanesTextos
{
    margin-bottom: 2.8125em;
}

/* Estilo necesario para CREAR el separador en lugar de usar un HR */
.examanesTextos .titulo::after,
.especialistas .titulo::after
{
    font-size: 16px;
    display: inline-block;
    content: "";
    height: .1875em;
    width: 1.875em;
    background: var(--resaltante);
    position: absolute;
    bottom: -1.25em;
    /* Al tamaño total le resto el ancho de mi elemento y lo divido entre 2 */
    left: calc((100% - 1.875em) / 2);
}

/* Estilos necesarios para crear la grilla de las categorias de examenes */
.examenesContenedor
{
    height: 33.125em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(250px, 1fr);
    gap: 1.875em;
}

/* Estilos para que la grilla sea un enlace y no tenga decorados */
.examenesCard-Link
{
    text-decoration: none;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo para que los elementos al hacer hover crezcan */
.examenesCard-Link:hover
{
    transform: scale(1.05);
    box-shadow: 0px 10px 23px -10px var(--sombras)
}

/* Estilos generales de las cards de Examanes */
.examanesCard
{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 6px;
    padding: 2.18125em 2.778125em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--fuente);
    box-shadow: 0px 30px 24px -30px var(--sombras),
                0px 0px 23px -9px var(--sombras);
}

/*  Estilos generales del contenedor de las imagenes de las cards de examenes*/
.examanesCard-Picture
{
    height: 3.75em;
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

/* Pequeño ajuste tras eliminacion de la seccion que contenia la imagen y pasarla a fondo */
.faqs .centro
{
    justify-content: flex-start;
}

/* Estilo general de las partes que contiene el contenido en la seccion de FAQs */
.faqsTextos
{
    width: 50%;
    /* margin-right: 50%; */
    /* border: 1px solid red; */
    height: 100vh;
}

/* Estilos generales del contenedor de los filtros */
.faqsFiltros
{
    margin: 1.25em 0 1.875em;
}

/* Estilos generales para el contenedor de los textos en la seccion de FAQs */
.faqsTextos
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Estilos generales de los filtros */
.faqsFiltros-btn
{
    font-weight: 400;
    font-size: .875em;
    margin-right: 2em;
    color: var(--fuenteNormal);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilos generales que toma el filtro al estar activo */
.faqsFiltros-btn.active
{
    font-weight: 500;
    color: var(--seleccionMenu);
    padding: .60em 1em;
    background: var(--fuente);
    border-radius: 5px;
    box-shadow: 0px 5px 15px -5px var(--sombras),
                0px 0px 15px -5px var(--sombras);
}

/* Estilo que toma el filtro al hovearlo */
.faqsFiltros-btn:hover
{
    color: var(--seleccionMenu);
}

/* Estilo general de un CTA secundario */
.cta-secundary
{
    font-size: .875em;
    font-weight: 500;
    color: var(--resaltante);
    text-decoration: none;
    position: relative;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo que tiene el CTA secundario al hovearlo */
.cta-secundary:hover
{
    letter-spacing: .15px;
}

/* Detalle del "angulo" > de un CTA secundario */
.cta-secundary::after
{
    content: ">";
    position: absolute;
    top: .07em;
    right: -1em;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Detalle de la flecha del CTA secundario al Hovearlo */
.cta-secundary:hover::after
{
    right: -1.5em;
}

/* Estilos generales para el titulo de las preguntas */
.tituloPregunta
{
    font-size: .875em;
    font-weight: 500;
    color: var(--fuenteImportante);
    margin-bottom: .4375em;
}

/* Estilos generales para los divs que contienen las preguntas */
.faqs-Bloque
{
    /* Añadimos nuestro contador */
    counter-reset: faqsCounter;
    display: none;
    min-height: 31em;
}

/* Estilo general para mostrar las preguntas */
.faqs-Bloque.active
{
    display: block;
}

/* Estilo general para el contador de la pregunta */
.tituloPregunta::before
{
    counter-increment: faqsCounter;
    content: counter(faqsCounter)". ";
}

/*  Correcion de margen de los parrafos (respuestas) de las preguntas*/
.faqsCard .parrafo
{
    margin-bottom: 2em;
}

/* Degradado de y fondo de la seccion FAQs */
.faqs
{
    background: linear-gradient(90deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 40%),
                url("../img//faqs-bg.jpg");
    background-size: cover;
    background-position: 45vw center;
    background-repeat: no-repeat;
}

/* Estilo necesario para quitar el decorado que genera el ancla al widget del telefono */
.telefonoMid
{
    text-decoration: none;
}

/* Estilo necesario para pausar la animacion al hovear el widget del telefono */
.telefonoMid:hover .telefonoMid-ico
{
    animation-play-state: paused;
}

/* Estilos generales de la parte del contenedor del icono del widget del telefono */
.telefonoMid-ico
{
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    margin-right: 1.2em;
    background: var(--resaltante);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2.5s pulseTelefono infinite;
}

/* Estilo general del icono del widget del telefono */
.telefonoMid-ico img
{
    height: 60%;
    width: auto;
}

/* Estilo general del texto que muestra el texto en el widget de telefono */
.tituloTelefono
{
    font-weight: 500;
    font-size: .75em;
    text-transform: uppercase;
    color: var(--fuenteImportante);
}

/* Estilo general del texto que muestra el numero de telefono en el widget de telefono */
.numeroTelefono
{
    font-weight: 500;
    font-size: 2em;
    color: var(--resaltante);
}

/* Estilo general de la seccion de contacto */
.contacto
{
    height: 100vh;
    font-size: 16px;
    background: url("../img/contacto-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilo general del contenedor de la seccion de contacto */
.contacto .centro
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
}

/* Estilo general de la card del contiene los datos en contacto */
.contactoCard
{
    width: 28.125em;
    border-radius: 6px;
    padding: 1.875em;
    background: var(--fuente);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0, .5),
                0px 0px 15px -5px rgba(0,0,0, .5);
}

/* Estilo general del ancla que contiene los elementos en la card de contacto  */
.contactoCard-ElementoContainer
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
    text-decoration: none;
}

/* Estilo que toma los titulos del ancla en la card de contacto */
.contactoCard-ElementoContainer:hover .tituloElementoCard
{
    color: var(--seleccionMenu);
}

/* Estilo general del icono de las cards de contacto */
.contactoCard-ico
{
    width: 1.25em;
    height: 1.25em;
    margin-right: 1.5em;
}

/* Estilo general de los titulos de los elementos de ancla en la card de contacto */
.tituloElementoCard
{
    font-size: .75em;
    font-weight: 500;
    color: var(--fuenteImportante);
    margin-bottom: .375em;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Pequeña correcion de margen en los parrafos de las cards de contacto */
.contactoCard-texto .parrafo
{
    margin-bottom: 0;
}

/* Estilos generales del footer */
.footer
{
    font-size: 16px;
    /* height: 15em; */
    background: var(--bgFooter);
    color: var(--fuenteFooterTxt);
    padding: 2em 0;
}

/* Estilos generales del contenedor usado en el Footer */
.footer .centro
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Contenedor de las columnas que contienen los datos del footer */
.contenidoFooter
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

/* Contenedor que contiene los datos del copyright en el footer */
.col-copy
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15.625em;
    /* border: 1px solid red; */
}

/* Contenedor del logo del footer */
.logoFooter
{
    height: 3.125em;
    margin-bottom: 1.5em;
}

/* Estilo general que tiene el texto donde se muestra el copyright */
.copyright
{
    font-weight: 300;
    font-size: .75em;
    margin-bottom: 1em;
}

/*
    * Estilo general del contenedor de las redes sociales del footer
    * Estilo general del contenedor de la columna derecha (datos - horarios) del footer
*/
.footerRSCaja,
.colFooterDerecha
{
    display: flex;
}

/* Pequeño detalle al contenedor de las redes sociales del footer  */
.footerRSCaja
{
    margin-top: 1em;
}

/* Estilo general de los elementos de ancla de las redes sociales del footer */
.footerRS
{
    text-decoration: none;
    margin-right: 1em;
    opacity: .6;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    display: flex;
    align-items: center;
}

/* Estilo general para las imagenes que se encuentran dentro del elemento de ancla de las
   redes sociales del footer
 */
.footerRS img
{
    width: 1.125em;
    height: auto;
}

/* Pequeño detalle al hovear una red social en el footer */
.footerRS:hover
{
    opacity: 1;
}

/* Estilos generales del contenedor de los datos del footer */
.col-datos
{
    width: 13.75em;
    margin-right: 8.5em;
    /* border: 1px solid red; */
}

/* Estilo general de los titulos que se encuentran en el footer */
.tituloFooter
{
    font-size: .875em;
    font-weight: 500;
    margin-bottom: 1.71em;
}

/* Contenedor de los datos del footer */
.datoFooter
{
    font-size: .75em;
    font-weight: 300;
    margin-bottom: 1.416em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Estilo general de la imagen de los datos del footer */
.datoFooterIco
{
    width: 1.33em;
    height: auto;
    display: block;
    margin-right: 1.16em;
}

/* Estilo general de los link de los datos en el footer */
.datoFooterLink
{
    text-decoration: none;
    color: var(--fuenteFooterTxt);
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo al hovear el dato del link */
.datoFooterLink:hover
{
    color: var(--fuente);
}

/* Pequeño detalle para quitar el margen al ultimo elemento de los datos del footer */
.datoFooter:last-child
{
    margin-bottom: 0;
}

/* Contenedor de la informacion del dia en el footer */
.contenedorDia
{
    width: 15.8em;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: .3125em;
    /* border: 1px solid red; */
}

/* Estilo general que muestra el dia en el footer */
.dia
{
    font-size: .75em;
}

/* Estilo general que muestra las horas en el footer */
.horario
{
    font-size: .75em;
    color: var(--resaltante);
}

/* Estilo general que tiene la linea en el footer */
.lineaFooter
{
    background: var(--lineFooter);
    margin: 0 1em;
    height: 2px;
    width: 60px;
}

/* Pequeño detalle para mostrar una linea superior "divisora" para la seccion del autor en el footer */
.autorFooter
{
    border-top: 1px solid rgba(255,255,255, .2);
}

/* Estilo general del texto donde se muestra el autor en el footer */
.txtFooter
{
    margin-top: 2.66em;
    font-weight: 300;
    color: var(--fuenteFooterTxt);
    font-size: .75em;
    text-align: right;
}

/* Estilo general del corazon en el footer */
.heartbeat
{
    margin: 0 5px;
    height: .8em;
    position: relative;
    color: var(--resaltante);
}

/* Estilo general del link del autor en el footer */
.autor
{
    text-decoration: none;
    color: var(--fuente);
    font-weight: 600;
}

/* Pequeño detalle al hovear al autor en el footer */
.autor:hover
{
    border-bottom: 2px solid var(--resaltante)
}

/* Estilo general para las paginas que son a columnas */
.columna
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    /* border: 1px solid blue; */
}


/* Estilo general del contenedor de las paginas a columnas */
.columna .centro
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36em;
    max-height: 600px;
    height: auto;
}

/* Detalle en el titulo de las paginas a columnas */
.columna .titulo
{
    margin: 0
}

/* Dimenciones de las columnas */
.columna .left,
.columna .right
{
    width: 50%;
    height: inherit;
    /* border: 1px solid red; */
    overflow: hidden;
}

/* detalle estetico (separador) en el titulo de las paginas a columnas */
.columna .titulo::after
{
    font-size: 16px;
    display: block;
    content: "";
    height: .1875em;
    width: 1.875em;
    background: var(--resaltante);
    margin: 1.25em 0;
}

/* Invertir el orden de las columnas en sección par */
.columna:nth-of-type(even) .right
{
    order: 1;
    margin-left: 0;
    margin-right: 3em;
}

/* Invertir el orden de las columnas en sección par */
.columna:nth-of-type(even) .left
{
    order: 2;
}

/* Estilo general de la columna que contiene las imagenes */
.columna .right
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    max-height: inherit;
    gap: 1em;
    margin-left: 4.375em;
}

/* Estilo general de la priemra imagen de la grilla de descripcion */
.imagenGrid-1
{
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la segunda imagen de la grilla de descripcion */
.imagenGrid-2
{
    grid-column: 3 / 6;
    grid-row: 5 / 7;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la tercera imagen de la grilla de descripcion */
.imagenGrid-3
{
    grid-column: 6 / 9;
    grid-row: 1 / 9;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la primera imagen de la grilla de M&V */
.imagenGrid-4
{
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la segunda imagen de la grilla de M&V */
.imagenGrid-5
{
    grid-column: 1 / 4;
    grid-row: 5 / 9;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la tercera imagen de la grilla de M&V */
.imagenGrid-6
{
    grid-column: 4 / 7;
    grid-row: 2 / 4;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la cuarta imagen de la grilla de M&V */
.imagenGrid-7
{
    grid-column: 4 / 9;
    grid-row: 4 / 8;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

/* Estilo general de la seccion que contiene a los especialistas */
.especialistas
{
    font-size: 16px;
    height: 100vh;
}

/* Contenedor de la seccion que contiene a los especialistas y el widget de telefono */
.especialistas .centro
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
}

/* Estilo general del conenedor que contiene a las cards de los especialistas */
.contenedorEspecialistas
{
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

/* Estilo general de la card del especialista */
.especialista
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3.5em;
}

/* Animacion pertinente a la imagen del especialista al hovear el card */
.especialista:hover .especialistaImgContenedor img
{
    transform: scale(1.05);
}

/* Estilo general del picture que contiene a la foto del especialista */
.especialistaImgContenedor
{
    width: 11.25em;
    height: 11.875em;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: .625em;
    /* border: 1px solid red; */
}

.especialistaImgContenedor img
{
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo general del nombre del especialista */
.especialistaNombre
{
    font-size: .875em;
    font-weight: 400;
    color: var(--fuenteImportante);
}

/* Estilo general del cargo del especialista */
.especialistaCargo
{
    font-size: .75em;
    font-weight: 400;
    color: var(--fuenteNormal);
    margin-bottom: 2.5em;
}

/* Estilo general del contenedor azul de las redes sociales del especialista */
.especialistaRedes
{
    background: var(--azulNosotros);
    width: 5.5em;
    height: 1.5em;
    border-radius: 8px;
    padding: .3125em .625em;
    box-shadow: 0px 3px 6px var(--sombraAzulNostros);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo de los elementos de ancla de los especialistas */
.especialistaRedes_Link
{
    text-decoration: none;
    height: 1.25em;
}

/* Detalles para la animacion al hovear el icono del especilista */
.especialistaRedes_Link img
{
    height: 100%;
    width: auto;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilos generales para los iconos de las redes sociales del espcialista */
.especialistaRedes_Link:hover img
{
    transform: scale(1.1);
}

/* Estilos generales dde la seccion de los listados de examenes */
.listadoDeExamenes
{
    min-height: 100vh;
    font-size: 16px;
}

/* Estilos necesarios para centrar los elementos en el hero del listado de examenes */
.listadoDeExamanes-Hero .centro
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 18.75em;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
}

/* Listado de de estilos para cambiar la imagen del hero de las categorias de examen */
.listadoDeExamanes-Hero.hematologia
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #e9eff0
                url("../img/examenes/hematologia.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.serologia
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
              #f3fdfe
                url("../img/examenes/serologia.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.qsanguinea
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
              #fefefe
                url("../img/examenes/qsanguinea.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.mtumoral
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
              #f7f8fc
                url("../img/examenes/mtumoral.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.hormonas
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #fcfcfc
                url("../img/examenes/hormonas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.inmunologia
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #eeeeec
                url("../img/examenes/inmunologia.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.uroanalisis
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #fafbf6
                url("../img/examenes/uroanalisis.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.coprologia
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #fefefe
                url("../img/examenes/coprologia.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.qurinaria
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #e9f2fb
                url("../img/examenes/qurinaria.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.espermatograma
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #fcdcdf
                url("../img/examenes/espermatograma.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.listadoDeExamanes-Hero.gasometria
{
    background: linear-gradient(0deg, rgba(251, 252, 255, 1) 0%, rgba(251,252,255,0) 15%),
                #e8e9eb
                url("../img/examenes/gasometria.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

/* Estilos generales para el contenedor de los breadcrumps */
.breadcrumbs
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 30px;
}
/* Estilos generales para los links de los breadcrumps */
.breadcrumbs-link
{
    text-decoration: none;
    font-size: .75em;
    margin-right: 10px;
    color: var(--fuenteRespuesta);
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    display: flex;
    align-items: center;
}
/* Estilo general para darle fuerza visual al breadcrumps actual */
.breadcrumbs-link.active
{
    color: var(--fuenteImportante);
}
/* efecto al hacer hover a un breadcrumps (que no sea el actual) */
a.breadcrumbs-link:hover
{
    color: var(--seleccionMenu);
}
/* Estilo general para el icono del breadcrumps */
.breadcrumbs-ico
{
    font-size: .4em;
    margin-right: 10px;
    color: var(--fuenteRespuesta)
}
/* Estilo general que determina el icono que separa los breadcrumps */
.breadcrumbs-ico::before
{
    content: "/";
}

/* Estilos generales del contenedor del contador de examenes */
.contadorDeExamanes-Texto
{
    font-weight: 400;
    font-size: .75em;
    color: var(--fuenteNormal);
    padding-bottom: 1.66em;
    margin-top: 2.916em;
    margin-bottom: 1.66em;
    border-bottom: 1px solid #EBEBEB;
}

/* Estilo general para el numero del contador de examenes */
.contadorDeExamanes-Cantidad
{
    color: var(--resaltante);
}

/* Estilos necesarios para crear un contador por css a los examenes */
.listadoDeExamenes-Contenedor
{
    /* Añadimos nuestro contador */
    counter-reset: ExaCounter;
    margin-bottom: 2.81em;
}

/* Estilos generales para la fila que contiene el titulo de las columnas de los examenes */
.filaConTitulos
{
    display: grid;
    grid-template-columns: 516px repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 1.25em;
    padding: 0 1.625em;
}

/* Estilos necesarios para el texto de los titulos de la fila con titulos */
.filaConTitulos-texto
{
    font-size: .75em;
    font-weight: 500;
    color: var(--fuenteImportante);
}

/* Estilos necesarios para aplicar un simbolo de # al primer elemento de la fila con titulos */
.filaConTitulos-texto:first-child::before
{
    content: "#";
    margin-right: 3.325em;
}

/* Estilos generales del contenedor del examen */
.examenEspecifico
{
    height: 4.0625em;
    width: 100%;
    display: grid;
    grid-template-columns: 516px repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 1em 1.625em;
    /* border: 1px solid red; */
    border-radius: 8px;
    background: var(--fuente);
    margin-bottom: 1.2em;
    box-shadow: 0px 0px 15px -5px var(--sombras);
}

/* Estilos necesarios para centrar los elementos verticalmente en sus columnas */
.examenEspecifico-ColTitulo,
.examenEspecifico-ColTiempo,
.examenEspecifico-ColHorario,
.examenEspecifico-ColCta
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Estilos necesario para centrar el boton en su posicion deseada */
.examenEspecifico-ColCta
{
    justify-content: flex-end;
}

/* Estilos necesario para mostrar la enumeracion de los examenes */
.examenEspecifico .titulosCard::before
{
    counter-increment: ExaCounter;
    content: counter(ExaCounter)". ";
    margin-right: 2.85em;
}

/* Estilos generales del boton que activa el modal con la vista detalle del examen */
.btn-detallesExamen
{
    color: var(--resaltante);
    font-size: .75em;
    padding: .5em 1.25em;
    border: 1px solid;
    border-radius: 8px;
    font-weight: 500;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    cursor: pointer;
}

/* Estilo que se aplica al hacer hover en el boton que activa el modal en los examenes */
.btn-detallesExamen:hover
{
    background: var(--resaltante);
    color: var(--fuente);
}

/* Estilo general del overlay */
.overlay
{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(64,64,64, .85);
    backdrop-filter: saturate(100%) blur(5px);
    z-index: 1;
    display: none;
}

/* Estilo que muestra el modal */
.overlay.active
{
    display: flex;
}

/* Estilos general del modal */
.modal
{
    min-height: 34.375em;
    width: 28.125em;
    border-radius: 8px;
    background: var(--bgModal);
    padding: 1.875em;
    animation: mostrarModal 1150ms linear both;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0, .5);
}

/* Estilo general de los titulos de en el modal */
.tituloModal
{
    font-size: .875em;
    font-weight: 500;
    color: var(--resaltante);
}

/* Estilo del boton que cierra el modal */
.btn-modal
{
    font-size: .75em;
    color: var(--arrowAzul);
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    width: 7.29583em;
    margin: 2em auto 0;
    display: block;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
}

/* Estilo que se aplica al hacer hover en el boton que cierra el modal */
.btn-modal:hover
{
    background: var(--arrowAzul);
    color: var(--fuente);
}

/* Correcion aplicada al modal de Quimica Urinaria */
.seleccionModal
{
    min-height: auto;
}

/* Pequeño ajuste para quitar el underline de los a en la quimica urinaria */
.linkTipoMuestra
{
    text-decoration: none;
}

/*
    Estilo general para el contendor de las cards de los tipos de muestras
*/
.contenedornMuestra
{
    display: flex;
    justify-content: space-around;
}

/*  Estilo general de las cards que contiene el icono y los textos */
.contenedorMuestra
{
    height: 10.5em;
    width: 10em;
    border: 1px solid rgba(39, 22, 22, 0.25);
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s cubic-bezier(0.28, 0.11, 0.32, 1);
    box-shadow: 0px 0px 15px -5px var(--sombras);
}

/*  Estilo aplicadoo a la card cuando se hace hover */
.linkTipoMuestra:hover .contenedorMuestra
{
    border: 1px solid var(--resaltante);
    transform: scale(1.02);
}

/* Animacion del texto que rota en el Hero */
@keyframes moverTexto
{
    0%
    {
        margin-top: 0;
    }
    12.5%
    {
        margin-top: -2em;
    }
    25%
    {
        margin-top: -2em;
    }
    37.5%
    {
        margin-top: -4em;
    }
    50%
    {
        margin-top: -4em;
    }
    62.5%
    {
        margin-top: -6em;
    }
    75%
    {
        margin-top: -6em;
    }
    87.5%
    {
        margin-top: 0;
    }
}
/* Animacion correspondiente al pulse de los servicios */
@keyframes pulseArrow
{
    0%
    {
        opacity: 1;
        transform: scale(0);
	}
    100%
    {
        opacity: 0;
        transform: scale(1.8);
	}
}

/* Animacion correspondiente al pulse del mid widget telefono */
@keyframes pulseTelefono
{
    from
    {
        box-shadow: 0px 0px 0px 5px var(--sombraTelefono);
    }
    50%
    {
        box-shadow: 0px 0px 0px 7px var(--sombraTelefono);
    }
    to
    {
        box-shadow: 0px 0px 0px 5px var(--sombraTelefono);
    }
}

/* Animacion de latido de corazon del footer */
@keyframes latido
{
    0%,40%,80%,100%
    {
        transform: scale(.9);
    }
    20%,60%
    {
        transform: scale(1.2);
    }
}

/* animacion para mostrar el modal de la vista detalle de los examenes */
@keyframes mostrarModal
{
    0%
    {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.1%
    {
        transform: matrix3d(0.486, 0, 0, 0, 0, 0.486, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.21%
    {
        transform: matrix3d(0.878, 0, 0, 0, 0, 0.878, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.31%
    {
        transform: matrix3d(1.084, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    12.41%
    {
        transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    20.12%
    {
        transform: matrix3d(1.031, 0, 0, 0, 0, 1.031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    27.73%
    {
        transform: matrix3d(0.985, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    43.14%
    {
        transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    58.56%
    {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    73.97%
    {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    89.39%
    {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100%
    {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}